@media (max-width:768px) {
    /* section haeder*/

   .block-mobile{
    color: #FFFF;
   }

   .circle-mobile{
    background-color: #BFD91E;
    width: 500px;
    height: 500px;
    border-radius: 50%;
   }

   .navbar-mobile{
    display: flex !important;
   }

   .logo-mobile{
    width: 200px;
    height: 78px;
   }

   .btn-menu{
    box-shadow: none !important;
    background-color: #BFD91E;
    border: #FFFF 1px solid;
    border-radius: 50%;
    transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
   }

   .btn-menu:hover{
    background-color: #96ac09;
   }
   
   .btn__see-menu-mobile{
    box-shadow: none !important;
    width: 170px !important;
    height: 74.79px;
   }

}

@media (max-width:992px) {
    
    .big-circle_sm{
        
        padding: px !important;
        width: 550px !important;
        height: 550px !important;
        
    }
    .small-circle_sm{
        width: 300px !important;
        height: 300px !important;
    }

    .nav-menu_sm{
        right: 80px !important;
    }

    .nav-item3 {
        width: 35px !important;
        padding-left: 0px !important;
    }

    .beverage_contenu_sm__width{
        width: 100% !important;
    }
}