/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */
/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
@import url("./medias.css");
/* integration de police space grotesk. */
@font-face {
  font-family: "Rubik";
  src: url("./public/assets/fonts/Rubik-Regular.ttf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Rubik";
  src: url("./public/assets/fonts/Rubik-Bold.ttf") format("opentype");
  font-weight: 700;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: px;
  line-height: 23.7px;
  margin: 0;
  color: #595959;
}

h2 {
  font-size: 35px;
  color: #ADC41D;
}

.title {
  color: #FFFFFF;
}

.btn {
  box-shadow: non !important;
}

.box {
  overflow: hidden;
  position: relative;
  transition: transform 0.4s cubic-bezier(0.2, 1.83, 0.42, 1.19);
}
.box:hover {
  z-index: 4;
  transform: scale(1.2);
  overflow: hidden !important;
}

.button {
  text-align: center;
  width: 200.64px;
  height: 74.79px;
  border: 3px solid #FFFFFF;
  border-radius: 80px;
  padding-top: 20px;
  color: #FFFFFF;
  transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
}
.button:hover {
  background-color: #BFD91E !important;
  color: #595959;
}

.section-head {
  background-color: #ADC41D;
}
.section-head .big-circle {
  display: flex;
  justify-content: center;
  padding-top: 115px;
  background-color: #BFD91E;
  width: 600px;
  height: 600px;
  border-radius: 50%;
}
.section-head .big-circle .small-circle {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: rgba(158, 180, 15, 0.4235294118);
}
.section-head .nav-menu {
  top: 50px;
  right: 130px;
}
.section-head .nav-menu nav li {
  padding-left: 0px;
  padding-right: 0px;
}
.section-head .nav-menu nav li a, .section-head .nav-menu nav li span {
  font-size: 18px;
  font-weight: 700;
  color: #FFFFFF;
  padding-left: 0.2rem !important;
  padding-right: 0.2rem !important;
}
.section-head .nav-menu nav li a:hover, .section-head .nav-menu nav li span:hover {
  color: #595959;
  text-decoration: underline !important;
  transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
}
.section-head .logo {
  width: 315px;
  height: 78px;
}
.section-head .block-speech {
  z-index: 3;
  color: #FFFFFF;
  margin-top: 100px;
}
.section-head .block-speech h2 {
  color: #FFFFFF;
}
.section-head .block-speech .btn__see-menu {
  background-color: #ADC41D;
  font-size: 20px;
}
.section-head .block-food {
  bottom: 0;
  width: 410px;
}
.section-head .block-food img {
  width: 400px;
  height: 395px;
  right: 0px;
}

.section-last-menu .title-food {
  position: absolute;
  bottom: 50px;
}
.section-last-menu .title-food_pizza {
  left: 180px;
}
.section-last-menu .title-food_frites {
  left: 200px;
}
.section-last-menu .food-plats:hover {
  font-weight: 700;
}
.section-last-menu .small-bar::after {
  content: "";
  display: block;
  text-align: center;
  width: 63px;
  height: 2px;
  background-color: #ADC41D;
}
.section-last-menu .order-plan {
  text-align: center;
  width: 365px;
}
.section-last-menu .order-plan .img-thumbnail {
  border: none !important;
}
.section-last-menu .order-plan_fries {
  border: 3px solid #D9D9D9;
  border-radius: 15px;
}
.section-last-menu .btn__order {
  background-color: #ADC41D;
  padding-top: 0 !important;
}

.section-promo {
  background: url(/vite-project/public/assets/imgs/Rectangle\ 18.png);
  background-position: center;
  background-size: cover;
  /*
  background-image: linear-gradient(to bottom, #00000054, #000), url(../img/unsplash_Lks7vei-eAg.png);
  */
}
.section-promo .img-promo-pizza_bg {
  background-color: transparent !important;
  border: none !important;
}

.section-beverage {
  overflow: hidden !important;
}
.section-beverage .beverage_contenu {
  width: 197px;
}
.section-beverage .beverage_contenu h3, .section-beverage .beverage_contenu h2 {
  font-size: 30px;
  line-height: 35.55px;
}

/*# sourceMappingURL=style.css.map */
